/* Max container width sm:540px	md:720px	lg:960px	xl:1140px */
:root {
  --radius1: 0.375rem;
  --form-bg: white;
  --form-color2: #777;
  --form-color3: #cf2c2c;

  --form-font-color: black;
  --form-text2: rgb(255, 255, 255);

  --form-focus: var(--form-color3);
  --option-bg: var(--form-bg);
  --form-arrow: var(--form-color2);
  --form-border: 1px solid var(--form-color2);
  --form-border-radius: var(--radius1);
  --form-font-size: 1rem;
  --form-line-height: 1.5;
  --form-padding: 0.375rem 0.75rem;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* width: 100vw; */
  height: 100%;
  min-height: 100vh;
}
#root {
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
  height: 100%;
  min-height: 100vh;
}
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 100%;
}

.layout-lg {
  /* overflow: hidden; */
  margin: 0 auto;
  width: 960px;
  /* height: 100%; */
}
.shadow-sm {
  box-shadow: 0 4px 0.5rem -0.125rem rgba(0, 0, 0, 0.1),
    0 0.125rem 0.25rem -0.125rem rgba(0, 0, 0, 0.06);
}

.shadow-lg {
  box-shadow: 0 5px 20px 0 rgba(234, 32, 39, 0.3);
}
/* 
.btn {
  background-color: rgba(23, 26, 32, 0.8);
  border: none;
  margin-bottom: 1px;
  border-radius: 6px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 15px;
  height: 36px;
  line-height: 20px;
  margin-left: 8px;
  margin-right: 6px;
  min-width: 185px;
  padding: 0 16px 0 16px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: rgba(23, 26, 32, 1);
  cursor: pointer;
}

.btn--success {
  background-color: #04aa6d;
} 
.btn--success:hover {
  background-color: #46a049;
}

.btn--info {
  background-color: #2196f3;
} 
.btn--info:hover {
  background: #0b7dda;
}

.btn--warning {
  background-color: #ff9800;
} 
.btn--warning:hover {
  background: #e68a00;
}

.btn--danger {
  background-color: #f44336;
} 
.btn--danger:hover {
  background: #da190b;
} */

/* .loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid var(--primary);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.ipt {
  border: var(--form-border);
  border-radius: var(--form-border-radius);
  padding: var(--form-padding);
  font-size: var(--form-font-size);
  background-color: var(--form-bg);
  color: var(--form-font-color);
  line-height: var(--form-line-height);

  font-weight: 400;
  display: block;
  width: 100%;
  /* background-clip: padding-box; */
  transition: all 0.15s ease-in-out;
}
.ipt-forbtn {
  border-radius: var(--radius1) 0 0 var(--radius1);
}
.ipt-btn {
  width: 40px;
  /* height: 36px; */
  line-height: var(--form-line-height);
  border: var(--form-border);
  background: var(--form-color2);
  color: var(--form-text2);
  text-align: center;
  border-radius: 0 var(--radius1) var(--radius1) 0;
  cursor: pointer;
  font-size: 20px;
}
.ipt-btn:hover {
  /* border: 1px solid var(--form-bg); */
  background: var(--form-bg);
}

/* Select customization */

/* A reset of styles, including removing the default dropdown arrow */
/* Additional resets for further consistency */
select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}
.select {
  width: 100%;
  /* min-width: 15ch;
    max-width: 30ch; */
  border: var(--form-border);
  border-radius: var(--form-border-radius);
  padding: var(--form-padding);
  font-size: var(--form-font-size);
  background-color: var(--form-bg);
  line-height: var(--form-line-height);

  cursor: pointer;
  /* background-image: linear-gradient(to top, #f9f9f9, #fff 33%); */
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
}
/* arrow */
.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--form-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}
select,
.select:after {
  grid-area: select;
}
select option {
  background: var(--option-bg);
  color: var(--form-font-color);
}
/* option:not(:checked) {
    background-color: #57c425;
  } */

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--form-focus);
  border-radius: inherit;
}
.select--disabled {
  cursor: not-allowed;
  background-color: var(--form-color2);
  /* background-image: linear-gradient(to top, #ddd, #eee 33%); */
}

/* project specific */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&family=Modak&family=Sniglet:wght@800&display=swap");

:root {
  --bg-light: rgb(238, 225, 225);
  --bg-dark: #0d0118;
  --primary: rgb(255, 0, 119);
  --secondary: #fffafa;
  --accent: #2d1cc5;
  --text1: #301f40;
  --text2: wheat;
  --radius1: 7px;

  --success: #388e3c;
  --info: gray;
  --warning: gray;
  --danger: #c9182b;

  --dark0: black;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text1);

  background-color: #ececec;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='477' height='477' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23E3E3E3' stroke-width='2'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23E3E3E3'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
img {
  width: 100%;
  display: block;
}
/* .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 2rem;
  background: rgba(245, 245, 245, 0.486);
}
.navbar__logo {
  font-size: 2rem;
  color: var(--primary);
}
.navbar__logo span {
  font-family: "DynaPuff", cursive;
  font-size: 3rem;
}
.navbar__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar__item {
  display: inline;
  margin: 1rem;
}
.navbar__item a {
  color: var(--text1);
  text-decoration: none;
}
.navbar__item a:hover {
  text-decoration: underline;
} */
/* .btn__primary {
  background: var(--accent);
} */
/* .canvas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-block: 1.5rem;
} */
/* .card-sm {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 300px;
  background: var(--secondary);
  padding: 1rem;
  border-radius: var(--radius1);
  box-shadow: 0 4px 0.5rem -0.125rem rgba(0, 0, 0, 0.1),
    0 0.125rem 0.25rem -0.125rem rgba(0, 0, 0, 0.06);
}
.card-sm img {
  width: 100%;
  display: block;
  grid-area: 1/1;
}
.card-sm__info {
  height: 4.5rem;
  display: grid;
  align-content: space-between;
  margin-top: 0.3rem;
  grid-template-columns: 90% 1fr;
  grid-template-rows: auto auto;
}
.card-sm__fav {
  grid-area: 1/2 / span 2/2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.card-sm__wrap {
  flex: 1 0 268px;
  display: grid;
  grid-template: 1fr/1fr;
}
.card-sm__more {
  opacity: 0;
  grid-area: 1/1;
  background: #000000;
  color: var(--text2);
  font-size: 5rem;
}
.card-sm__more:hover {
  opacity: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* .modal {
  background: #00000080;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}
.aspect-ratio-box {
  position: relative;
  height: 80%;
  padding-left: 55%;
  width: 0;
} */
/* .card-lg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  //width: 60%;
  //height: 80%;
  //max-height: 80%;
  display: flex;
  background: var(--secondary);
  padding: 1rem;
  border-radius: var(--radius1);
}
.card-lg__photo {
  flex: 1 1 70%;
  background: silver;
  overflow: hidden;
}
.card-lg img {
  object-fit: cover;
  width: 100%;
  height: auto;
  display: block;
}
.card-lg__info {
  flex: 1 0 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
.card-lg__info .btn {
  align-self: center;
}
.card-lg h1 {
  font-size: 1.5rem;
  font-weight: bold;
} */
/* .tag {
  background: silver;
  padding: 0.2rem;
  border-radius: var(--radius1);
  margin: 0 4px;
} */
/* .vote {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.vote__card {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
} */
/* .aspectratio-card {
  position: relative;
  width: 0;
  padding-left: 55%;
  height: 100%;
} */
/* .card-xl {
  // position: absolute;
  // top: 0;
  //left: 0;
  //height: 100%;
  //width: 100%; 
  height: 380px;
  width: 300px;

  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  background: var(--secondary);
  padding: 1rem;
  border-radius: var(--radius1);
  box-shadow: 0 4px 0.5rem -0.125rem rgba(0, 0, 0, 0.1),
    0 0.125rem 0.25rem -0.125rem rgba(0, 0, 0, 0.06);
}
//  .card-xl--out {
//   transform: rotateZ(15deg) translate(71px, 0px);
//   opacity: 0.2;
// } 
.card-xl__img {
  flex: 1;
  // height: 77%; 
}
.card-xl img {
  // width: 100%; 
  height: 100%;
  display: block;
}

.card-xl__yesno {
  flex: 0;
 // height: 10%; 
  display: flex;
  cursor: pointer;
}
.card-xl__no,
.card-xl__yes {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  font-size: 3rem;
  color: white;
}
.card-xl__no {
  background: var(--danger);
}
.card-xl__yes {
  background: var(--success);
} */
/* 
.book {
  flex: 1;
  font: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.book__img {
  width: 400px;
}
.book__img img {
  height: 100%;
  display: block;
}
.person {
  display: flex;
}
.person__cal {
  flex: 1 1 40%;
  background: silver;
  height: 300px;
}
.person__cal img {
  height: 100%;
  width: 300px;
}
.person__choice {
  flex: 1 1 60%;

  display: flex;
  flex-direction: column;
}
.person__card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  margin: 1rem;
  border-radius: var(--radius1);
  border: 1px solid gray;
} */

.person__photo img {
  height: 100%;
  width: auto;
}
.person__photo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.person__name {
  flex: 0 0 200px;
  margin-inline: 2rem;
}
/* .cart {
  width: 80%;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 3px;
}
.cart h1 {
  font-weight: bold;
} */
/* .cart__item {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background: rgb(230, 230, 230);
}
.cart__item h2 {
  flex: 1 1 30%;
  padding: 1rem;
}
.cart__item__remove {
  flex: 1 1 10%;
  text-align: center;
  cursor: pointer;
}
.cart__photo {
  flex: 0 0 100px;
  width: 100px;
} */
/* .vote__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vote__top .card-sm {
  transform: scale(0.7);
}
.vote__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
}
.last5 > h1,
.book h1 {
  font-size: 1.7rem;
  font-weight: bold;
  text-decoration: underline;
  color: var(--accent);
  text-decoration-color: var(--primary);
  text-decoration-thickness: 5px;
}
.last5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.last5__cards {
  display: flex;
}
.last5__card {
  transform: scale(0.7);
  margin: -30px;
} */

/* .footer {
  background: white;
  border-top: 3px solid var(--accent);
  margin-top: 2rem;
}
.footer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
} */
/* .never {
  background: var(--primary);
  color: white;
  border-radius: var(--radius1);
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}
.never i {
  font-size: 2rem;
} */
/* .card-lg__info__stat {
  display: flex;
  justify-content: space-between;
}
.card-lg__info__tags {
  display: flex;
  flex-direction: column;
  background: wheat;
  padding: 0.3rem;
  margin: 1rem 0;
}
.card-lg__info__tags__cont {
  padding: 0.3rem;
}
.card-lg__info__price {
  flex: 1;
  align-self: center;
  justify-content: end;
}
.card-lg__fav {
  flex: 1;
  align-self: center;
  font-size: 3rem;
  margin: 0.5rem;
}
.card-lg__info__order {
  align-self: center;
}
.card-lg__info__order__remove {
  cursor: pointer;
} */

.fade-enter {
  opacity: 0;
  transition: all 300ms;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.fade-exit-active {
  opacity: 0;
  transition: all 300ms;
}

/* .loader__main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */
/* 
.trans-group {
  position: relative;
  height: 100%;
}

.slide-enter {
  transition: all 300ms;
  opacity: 0;

  transform: translate(-100%) rotateZ(-15deg);
}
.slide-enter-active {
  opacity: 1;
  transform: translate(0);
}
.slide-exit {
  opacity: 1;
  transform: translate(0);

  position: absolute;
  top: 0;
  left: 0;
}
.slide-exit-active {
  opacity: 0;
  transition: all 300ms;

  transform: translate(100%) rotateZ(15deg);
} */
